{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}    

    {{ form_start(form) }}

        <div>
            <div>{{ form_label(form.password.first) }}</div>
            <div>{{ form_widget(form.password.first) }}</div>
            <div><label style="color:red;">{{ form_errors(form.password.first) }}</label></div>  
        </div>
        <div>
            <div>{{ form_label(form.password.second) }}</div>
            <div>{{ form_widget(form.password.second) }}</div>
            <div><label style="color:red;">{{ form_errors(form.password.second) }}</label></div>  
        </div>

    {{ form_end(form) }}

{% endblock %}